<h1 class="big">Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>

<a class="twitter-timeline" href="https://twitter.com/sajjadk">Tweets by sajjadk</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
